@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  overflow-x: hidden;
  width: 100%;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
body, #root {
  min-height: 100%;
  overflow-x: hidden;
  width: 100%;
  margin: 0;
  padding: 0;
}

/* Small helpers */
.container {
  max-width: 1200px;
}

